# Docker Compose / Influx bootstrap params
INFLUX_INIT_USERNAME=iot
INFLUX_INIT_PASSWORD=iot-projekat

# Shared params used by server, Influx bootstrap and Grafana datasource
INFLUX_ORG=smart-house
INFLUX_BUCKET=iot_bucket
INFLUX_TOKEN=60an128EFRiHE8-K-bV9w9rIJFayaGfIegG0Gcx5pcFhi6l-oPqFs8MRGt0q-ef0daV3n4_FRv2t6hsA_UdYfw==
